# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
  - package-ecosystem: devcontainers
    directory: /
    schedule:
      interval: weekly
      day: thursday
  - package-ecosystem: nuget
    directory: /
    schedule:
      interval: weekly
      day: thursday
    ignore:
      - dependency-name: "Microsoft.OpenApi"
        versions: ["<2.0.0", ">=3.0.0"]
    groups:
      dotnet:
        patterns:
          - "*"
