apiVersion: v1
kind: Secret
metadata:
  name: bank-auth-env
  namespace: infra-services
type: Opaque
stringData:
  AZURE_TENANT_ID: b81eb003-1c5c-45fd-848f-90d9d3f8d016
  AZURE_CLIENT_ID: b6997777-3799-4c55-b78a-4ce96e3d959c
  AZURE_CLIENT_SECRET: REPLACE_ME
---
apiVersion: v1
kind: Secret
metadata:
  name: bank-aspnet-env
  namespace: infra-services
type: Opaque
stringData:
  ASPNETCORE_ENVIRONMENT: Production
  ConnectionStrings__bank-api-db: Host=postgres-rw.infra-cnpg.svc;Port=5432;Database=bank;Username=REPLACE_ME;Password=REPLACE_ME
